body {
  max-width: 965px;
  margin: auto;
}

html.darkmode body, html.darkmode .square {
  background-color : #121212;
}

html.darkmode .bigCircle:hover, html.darkmode #static_cont {
  color:#121212;
}

.normalBtn {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  padding: 3px;
  border: 2px solid #333;
  border-radius: 5px;
  text-decoration: none;
}

.square {
  line-height:150px;
  width:150px;
  height:150px;  
  text-align:center;
  font-size:14px;
  color:#73AD21;
  font-weight:bold;
  float:left;
  border:1px solid #73AD21;
  /*word-wrap:break-word;*/
  /*border-radius:75px;*/
  margin:7px;
  cursor:pointer;
  background:white;
  /*background-position:center;
  background-size:100% 100%;*/
}

.square:hover {
  background:#73AD21;
  color:white;
}

.bigCircle {
  width:300px;
  height:300px;
  line-height:300px;
  text-align:center;
  font-size:50px;
  color:#73AD21;
  font-weight:bold;
  float:left;
  border:1px solid #73AD21;
  word-wrap:break-word;
  border-radius:150px;
  margin:10px;
  cursor:pointer;
}

.bigCircle:hover {
  background:#73AD21;
  color:white;
}

@media only screen and (max-width:965px) {
  .square {
    font-size:20px;
  }
  
  #wrapper {
    width:100%;
    overflow-x: hidden;
  }
  
  #pannel {
    width: 100%;
    overflow-x: auto;
  }
  
  #contents {
    width: 980px;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #242; 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
}

.p_mid {
  line-height: 1.5;
  display:inline-block;
  vertical-align:middle;
}

#list {
  width : 100%;
  text-align:center;
}

.popDetail {
  color:white;
  border:1px solid #73AD21;
  background:#73AD21;
}

.popDetail .title {
  margin-left:10px;
  font-size:33px;
  font-weight:900;
  text-decoration:underline;
}

.popDetail .shortDesc {
  margin-left:10px;
}

.popDetail .desc {
  margin-left:10px;
  font-size:17px;
  font-weight:bolder;
}

.popDetail .btnTrail {
  position:absolute;
  top:10px;
  right: 10px;
}

.popDetail .btnTrail .btn {
  padding:5px;
  font-size:23px;
  font-weight:bold;
  //border: 4px solid white;
  color:#73AD21;
  background:white;
  border-radius: 5px;
  margin-right:8px;
  cursor:pointer;
}

.popDetail .close {
  //position:absolute;
  /*bottom:10px;*/
  //right:10px;
  font-size:20px;
  font-weight:bold;
  color:white;
  background:#73AD21;
  border-radius:4px;
  border: 2px solid white;
  padding-left:5px;
  padding-right:5px;
  margin-left:50px;
  cursor:pointer;
}

.g_ad {
  margin-top: 10px;
  width:100%;
}

#static_cont {
  width: 965px;
  height: 30px;
  vertical-align: middle;
  background: #590;
  color: #fff;
  overflow-y: hidden;
}

@media only screen and (max-width:965px) {
  #static_cont {
    width: 100%;
  }
}

#static_cont h1 {
  color: #fff;
}

#static_cont h2 {
  color: #ffffdf;
}

#static_cont h3 {
  color:#fffff0;
}

#static_cont a {
  background: #73AD21;
  color:#fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 2px;
}

#header {
  border: 1px solid #73AD21;
  //background: #1a1a1a;
  text-align: center;
  font-weight: bold;
  //color: #fff;
  color: #73AD21;
}

#header #title {
  //color: #ffffc8;
  color: #73AD21;
  font-size: 25px;
  left: 0px;
}

#header #menu {
  right: 0px;
}

#header a {
  text-decoration: none;
  //color: #fff;
  color: #73AD21;
  font-size: 23px;
}
