p {
  clear : both;
}

.card {
  float : left;
  margin : 5px;
  padding : 10px;	
  border-radius : 20px;
  border : 2px solid #73AD21;
  width : 200px;
  word-wrap : break-word;
}

.circle {
  width:150px;
  height:150px;
  line-height:150px;
  text-align:center;
  font-size:14px;
  color:#73AD21;
  font-weight:bold;
  float:left;
  border:1px solid #73AD21;
  word-wrap:break-word;
  border-radius:75px;
  margin:10px;
  cursor:pointer;
  background-position:center;
  background-size:100% 100%;
}

.circle:hover {
  background:#73AD21;
  color:white;
}

.bigCircle {
  width:300px;
  height:300px;
  line-height:300px;
  text-align:center;
  font-size:50px;
  color:#73AD21;
  font-weight:bold;
  float:left;
  border:1px solid #73AD21;
  word-wrap:break-word;
  border-radius:150px;
  margin:10px;
  cursor:pointer;
}

.bigCircle:hover {
  background:#73AD21;
  color:white;
}

