<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81183833-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-81183833-2');
    </script>
    
    <title>truemaxdh's coding log</title>
    <meta name="description" content="truemaxdh's coding sketchbook for fun.works of coding including game, utility, arts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="icon.png" type="image/png">
    <link rel="stylesheet" href="/Style/skin.css">
    
    <script>
      var genres = [];
      var appList = [];
      //
      window.onload = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            if (this.status == 200) {
              
              // TEST
              console.log(this.responseText);
              var tmp = this.responseText;
              tmp = tmp.replace(/\n/g, "");
              tmp = tmp.replace(/# Coding Sketchbook My coding log for fun. ___ /g, "{AppList:[");
              tmp = tmp.replace(/## \[/,"{Genre:");
              tmp = tmp.replace(/] /,",Title:");
              tmp = tmp.replace(/ ### /,",ShortDesc:");
              tmp = tmp.replace(/ #### /,",Desc:");
              tmp = tmp.replace(/ \[Demo]\(/,",Link1:[Demo,");
              tmp = tmp.replace(/ \[Play]\(/,",Link2:[Play,");
              tmp = tmp.replace(/\)/,"]");
              tmp = tmp.replace(/ \[GitHub]\(/,",Link3:[GitHub,");
              tmp = tmp.replace(/ ___ /,"},");
              tmp = tmp.replace(/ \[Android]\(/,",Link4:[Android,");
              console.log(tmp);
              
              tmp += "}]}";                  
              var board = document.getElementById("contents");
              board.innerHTML=tmp;
              return;
              
              
              
              // SUCCESS
              var json = this.responseText;
              appList = JSON.parse(json).AppList;
              toggleStaticCont();
              
              for (var i = 0; i < appList.length; i++) {
                var gnre = appList[i].Genre;
                if (genres.find(function(el) {return el==gnre;}) == undefined) {
                  genres.push(gnre);
                }
              }
              showGenres();
            } else {
              alert("failed to load data");
            }
          }
        }
        //xhttp.open("GET", "/contents/AppList.json", true);
        xhttp.open("GET", "/README.md", true);
        xhttp.send();
      }
      
      function showGenres() {
        var board = document.getElementById("contents");
        board.innerHTML="";
        var crcl_w = 0;
        for (var i = 0; i < genres.length; i++) {
          var crcl = document.createElement("div");
          crcl.className = "bigCircle";
          crcl.innerHTML = genres[i];
          crcl.onclick=function() {openGenre(this.innerHTML);}
          board.appendChild(crcl);
        }
        if (window.innerWidth > 966) {
          var wrap = document.getElementById("wrapper");
          wrap.style.width = (genres.length * 322) + "px";
        }
      }
      
      function openGenre(_gnre) {
        var board = document.getElementById("list");
        var html = "<div style='display:inline-block;'>";
        for (var i = 0; i < appList.length; i++) {
          if (_gnre == appList[i].Genre) {
            html += "<div class='square' onclick=\"openDetail(this, " + i + ");\">";
            html += " <p class='p_mid'>" + appList[i].Title + "</p>";
            html += "</div>";
          }
        }
        html += "</div>";
        board.innerHTML = html;
      }
      
      var pnCont;
      var selEl;
      var dtlEl;
      function openDetail(el, idx) {
        selEl = el;
        pnCont = document.getElementById("wrapper")
        
        dtlEl = document.createElement("div");
        dtlEl.className = selEl.className;
        dtlEl.style.position = "absolute";
        dtlEl.style.left = el.offsetLeft + "px";
        dtlEl.style.top = el.offsetTop + "px";
        dtlEl.style.margin = "0";
        dtlEl.style.transition = "1s";

        
        
        pnCont.appendChild(dtlEl);
        
        setTimeout(
          function(){ 
            dtlEl.style.left = pnCont.offsetLeft + "px";
            dtlEl.style.top = pnCont.offsetTop + "px";
            dtlEl.style.width = pnCont.offsetWidth + "px";
            dtlEl.style.height = pnCont.offsetHeight + "px";
          }, 100);
        setTimeout(
          function(){
            dtlEl.style.transition = "0s";
          }, 1200);
        setTimeout(
          function(){           
            dtlEl.className = "popDetail";
            var app = appList[idx];
            var html = "<div class='popDetail'>";
            html += "<p class='title'>[" + app.Genre + "] " + app.Title + "</p>";
            html += "<p class='shortDesc'>" + app.ShortDesc + "</p>";
            html += "<p class='desc'>" + app.Desc + "</p>";
            html += "<div class='btnTrail'>";
            if (app.Link1)
              html += "<a class='btn' href=\"" + app.Link1[1] + "\" onclick=\"window.open('" + app.Link1[1] + "');return false;\">" + app.Link1[0] + "</a>";
            if (app.Link2)
              html += "<a class='btn' href=\"" + app.Link2[1] + "\" onclick=\"window.open('" + app.Link2[1] + "');return false;\">" + app.Link2[0] + "</a>";
            if (app.Link3)
              html += "<a class='btn' href=\"" + app.Link3[1] + "\" onclick=\"window.open('" + app.Link3[1] + "');return false;\">" + app.Link3[0] + "</a>";
            if (app.Link4)
              html += "<a class='btn' href=\"" + app.Link4[1] + "\" onclick=\"window.open('" + app.Link3[1] + "');return false;\">" + app.Link3[0] + "</a>";
            html += "<a class='close' onclick='closeDetail(" + idx + ");'>X</a>";
            html += "</div>";
            html += "</div>";
            dtlEl.innerHTML = html;
          }, 1300);
        setTimeout(
          function(){
            dtlEl.style.transition = "1s";
          }, 1400);
      }
      
      function closeDetail(idx) {
        dtlEl.className = selEl.className;
        dtlEl.innerHTML = "<p class='p_mid'>" + appList[idx].Title + "</p>";
        dtlEl.style.left = selEl.offsetLeft + "px";
        dtlEl.style.top = selEl.offsetTop + "px";
        dtlEl.style.width = selEl.offsetWidth + "px";
        dtlEl.style.height = selEl.offsetHeight + "px";
        setTimeout(function() {pnCont.removeChild(dtlEl);},1000);
      }
      
      function toggleStaticCont() {
        var board = document.getElementById("static_cont");
        if (board.style.height == "0px")
          board.style.height = "auto";
        else
          board.style.height = "0px";
      }
    </script>
  </head>
  <body>
    <script src="/Include/header.js"></script>
    <div id="static_cont">{{content}}</div>
    <div id="wrapper">
      <div id="pannel">
        <div id="contents"></div>
      </div>
      <p>&nbsp;</p>
      <div id="list"></div>
    </div>
    <div class="g_ad">
      <!-- Google Adsense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- AutoResponse -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7307479428475282"
          data-ad-slot="8718898251"
          data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </body>
</html>
