<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81183833-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-81183833-2');
    </script>
    
    <title>truemaxdh's coding log</title>
    <meta name="description" content="truemaxdh's coding sketchbook for fun.works of coding including game, utility, arts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="icon.png" type="image/png">
    <link rel="stylesheet" href="/Style/skin.css">
  </head>
  <body>
    <script src="/Include/header.js"></script>
    <div id="static_cont">{{content}}</div>
    <div id="wrapper">
      <div id="pannel">
        <div id="contents">{{ content }}</div>
      </div>
      <p>&nbsp;</p>
      <div id="list"></div>
    </div>
    <div class="g_ad">
      <!-- Google Adsense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- AutoResponse -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7307479428475282"
          data-ad-slot="8718898251"
          data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </body>
</html>
